*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    border: none;
    list-style: none;
}

header{
    width:100%;
    height: 60px;
    background-color:#2799FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    position: fixed;
    z-index: 100;
}
.logo p{
    letter-spacing: .03rem;
    text-align: center;
    margin-top:1rem;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: 'Baloo Tammudu 2', cursive;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items:center;
}
.contact p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .02rem;
    font-size: 1.3rem;
    font-weight: lighter;
    margin-right: 2rem;
}
.btn{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    padding: .2rem .5rem;
    font-size: .7rem;
    border: 1px solid #fff;
    margin-right: .5rem;
    font-weight: 500;
    border-radius: 3px;
}
.btn-login{
    background-color: #fff;
    color: #0a8bfc;
}
.btn-signup{
    color: #fff;
}
/* main */
.main{
    /* padding: 0 .6rem; */
    max-width: 610px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/* .search-bar */
.search-bar{
    display: flex;
    align-items: center;
    margin: 1rem 0px;
    height: 30px;
    width: 100%;
}
.input{
    width:100%;
    height: 30px;
}
.input input{
    padding-left: .4rem;
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(14, 13, 13, 0.904);
    width: 100%;
    height: 100%;
    border: 1px solid #333;
}
.search-btn{
    width:75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color:#0a8bfc;
    color: #fff;
}
/* discussion-container */
.discussion-container{
    display: flex;
    flex-direction: column;
}
.discussion{
    box-shadow: 1px 2px 15px rgba(0,0,0,0.2);
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
/* discussion-nav-bar */
.discussion-nav-bar{
    background-color:#2799FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}
/* profile */
.profile{
    display: flex;
    align-items: center;
    justify-self: center;
}
.img{
    margin-left: .7rem;
    margin-right: .3rem;
    width: 40px;
    height: 40px;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: cover;
    border-radius: 50%;
}
/* user */
.user .username, .title{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.username{
    font-size: 1rem;
    font-weight: lighter;
}
.title{
    font-size: .8rem;
}
.category{
    position: absolute;
    top: -12px;
    right: -16px;
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(31, 49, 77, 0.411);
    font-size: .9rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 0px;
    padding: .3rem .4rem;
    
}
                                                        /* discussion */
.discussion-info{
    /* background-color: #d6e9fa; */
    padding: 1rem 1rem .5rem;
}
.discussion-title{
    color: #2799FA;
    font-weight: lighter;
    font-size: 1rem;
    letter-spacing:.05rem;
    font-family: 'Baloo Tammudu 2', Arial, Helvetica, sans-serif;
    margin: 1rem 0;
}
.discussion-img{
    padding:.5rem .5rem;
    width: 450px;
    height:450px;
    margin: 0px auto;
}
.discussion-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.discussion-text{
    padding:.5rem .5rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .04rem;
    font-size: .9rem;
    line-height: 1.1rem;
    font-weight: lighter;
}